Libraries/Club.Services/Service References/PushServiceReference/PushService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PushConsumer.Services.Module" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PushConsumer.Services.Module" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSendMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendMessage" nillable="true" type="tns:SendMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendMessage" nillable="true" type="tns:ArrayOfSendMessage" />
  <xs:complexType name="SendMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Badge" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessage" nillable="true" type="tns:SendMessage" />
</xs:schema>