Libraries/Club.Services/Service References/PushServiceReference/PushService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://123.56.166.66:8000/PushService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://123.56.166.66:8000/PushService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://123.56.166.66:8000/PushService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PushConsumer.Services.Module" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushService_PushMessageForIOS_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForIOS" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessageForIOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForIOSResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessageForIOSNoPWD_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForIOSNoPWD" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessageForIOSNoPWD_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForIOSNoPWDResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessageForAndroidNoPWD_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForAndroidNoPWD" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessageForAndroidNoPWD_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageForAndroidNoPWDResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessagesForIOS_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMessagesForIOS" />
  </wsdl:message>
  <wsdl:message name="IPushService_PushMessagesForIOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMessagesForIOSResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageIOSWithAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageIOSWithAll" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageIOSWithAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageIOSWithAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageAndroidWithAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageAndroidWithAll" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageAndroidWithAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageAndroidWithAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageIOSWithUni_InputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageIOSWithUni" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageIOSWithUni_OutputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageIOSWithUniResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageAndroidWithUni_InputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageAndroidWithUni" />
  </wsdl:message>
  <wsdl:message name="IPushService_UMPushMessageAndroidWithUni_OutputMessage">
    <wsdl:part name="parameters" element="tns:UMPushMessageAndroidWithUniResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushService">
    <wsdl:operation name="PushMessageForIOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/PushMessageForIOS" message="tns:IPushService_PushMessageForIOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/PushMessageForIOSResponse" message="tns:IPushService_PushMessageForIOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMessageForIOSNoPWD">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/PushMessageForIOSNoPWD" message="tns:IPushService_PushMessageForIOSNoPWD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/PushMessageForIOSNoPWDResponse" message="tns:IPushService_PushMessageForIOSNoPWD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMessageForAndroidNoPWD">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/PushMessageForAndroidNoPWD" message="tns:IPushService_PushMessageForAndroidNoPWD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/PushMessageForAndroidNoPWDResponse" message="tns:IPushService_PushMessageForAndroidNoPWD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMessagesForIOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/PushMessagesForIOS" message="tns:IPushService_PushMessagesForIOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/PushMessagesForIOSResponse" message="tns:IPushService_PushMessagesForIOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageIOSWithAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/UMPushMessageIOSWithAll" message="tns:IPushService_UMPushMessageIOSWithAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UMPushMessageIOSWithAllResponse" message="tns:IPushService_UMPushMessageIOSWithAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageAndroidWithAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/UMPushMessageAndroidWithAll" message="tns:IPushService_UMPushMessageAndroidWithAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UMPushMessageAndroidWithAllResponse" message="tns:IPushService_UMPushMessageAndroidWithAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageIOSWithUni">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/UMPushMessageIOSWithUni" message="tns:IPushService_UMPushMessageIOSWithUni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UMPushMessageIOSWithUniResponse" message="tns:IPushService_UMPushMessageIOSWithUni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageAndroidWithUni">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/UMPushMessageAndroidWithUni" message="tns:IPushService_UMPushMessageAndroidWithUni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UMPushMessageAndroidWithUniResponse" message="tns:IPushService_UMPushMessageAndroidWithUni_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushService" type="tns:IPushService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushMessageForIOS">
      <soap:operation soapAction="http://tempuri.org/IPushService/PushMessageForIOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMessageForIOSNoPWD">
      <soap:operation soapAction="http://tempuri.org/IPushService/PushMessageForIOSNoPWD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMessageForAndroidNoPWD">
      <soap:operation soapAction="http://tempuri.org/IPushService/PushMessageForAndroidNoPWD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMessagesForIOS">
      <soap:operation soapAction="http://tempuri.org/IPushService/PushMessagesForIOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageIOSWithAll">
      <soap:operation soapAction="http://tempuri.org/IPushService/UMPushMessageIOSWithAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageAndroidWithAll">
      <soap:operation soapAction="http://tempuri.org/IPushService/UMPushMessageAndroidWithAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageIOSWithUni">
      <soap:operation soapAction="http://tempuri.org/IPushService/UMPushMessageIOSWithUni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UMPushMessageAndroidWithUni">
      <soap:operation soapAction="http://tempuri.org/IPushService/UMPushMessageAndroidWithUni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushService">
    <wsdl:port name="BasicHttpBinding_IPushService" binding="tns:BasicHttpBinding_IPushService">
      <soap:address location="http://123.56.166.66:8000/PushService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>